html, body {
  display: inline-block;

  margin: auto;
  
  font-family: 'Open Sans', sans-serif;
}

.center {
  display: inline-block;
  justify-content: center;
  background-color: #8fb4d6;
}

.profile-picture {
  display: block;
  float: left;
  background-color: #8fb4d6;
  margin: auto;
  border-radius: 5%;
  overflow: hidden;
}


.name {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2px;
}

.personal-statement {
    display: block;
    float: right;
    background-color: #8fb4d6;
    padding: 5px;
    margin: auto;
}

.wrapper1 {
  display: inline-block;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}

.wrapper2 {
}

.wrapper3 {
  display: inline-block;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}

.curriculum-vitae {
    font-size: 20px;
    color: white;
    background-color: #437fb6;
}

.curriculum-vitae a {
    text-decoration: none;
    padding: 4px;
    display: inline-block;
}

.curriculum-vitae a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.created {
    font-size: 10px;
    background-color: #d2e1ee;
}
